# env files
.env
**/.env

# But KEEP the frontend ones
!frontend/.env

# build outputs
target/
**/target/

# IDE
.idea/
.vscode/
*.iml

# Local-only docker config
docker-compose.dev.yml

.Dockerfile.Dev