@import "tailwindcss";

/* optional, but nice for forms */
@plugin "@tailwindcss/forms";

/* simple base styles so the page isn’t stark */
@layer base {
  html, body, #root { height: 100%; }
  body { font-family: ui-sans-serif, system-ui, sans-serif; background: #c1daf3; color: #111827; }
}